doctype html
html
  head
    title Prism Learning Centre
    block scripts
    block style
  body
    block container
    block content
    block foot
      #footer
        |Copyright &copy 2022 PrismLearningCentre.com | All rights reserved